<% include header %> 
    <h1>Liste des Articles</h1> 
        <%= article.id %><br><%= article.libelle %><br><%= article.qte %><br><%= article.pu %><br><a href="/modifier/<%= article.id %>">Modifier</a>
    <a href="/ajouter">Ajouter</a> 
<% include footer %> 